@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

body {
  font-family: "inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

@keyframes floatSlow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float-slow {
  animation: floatSlow 12s ease-in-out infinite;
}
